Repository mhdzumair/MediaFusion: changes, and which GitLab CI jobs are due for each by the changed paths.
All: python-lint, python-format, frontend-lint, frontend-format, frontend-build

.gitlab-ci.yml:

stages:
  - check

# ---------- Python code checks ----------

python-lint:
  stage: check
  image: ghcr.io/astral-sh/uv:0.6-python3.13-bookworm-slim
  script:
    - uv run --only-group dev ruff check .
  rules:
    - changes:
        - "**/*.py"
        - pyproject.toml
        - uv.lock

python-format:
  stage: check
  image: ghcr.io/astral-sh/uv:0.6-python3.13-bookworm-slim
  script:
    - uv run --only-group dev ruff format --check .
  rules:
    - changes:
        - "**/*.py"
        - pyproject.toml
        - uv.lock

# ---------- Frontend checks ----------

.frontend-base:
  image: node:20-alpine
  before_script:
    - cd frontend
    - npm ci
  rules:
    - changes:
        - "frontend/**"

frontend-lint:
  stage: check
  extends: .frontend-base
  script:
    - npx eslint .

frontend-format:
  stage: check
  extends: .frontend-base
  script:
    - npx prettier --check "src/**/*.{ts,tsx,css,json}"

frontend-build:
  stage: check
  extends: .frontend-base
  script:
    - npm run build

Fix Catalog showing characters instead of sport category & Poster title generation not working
  mediafusion_scrapy/pipelines/store_pipelines.py
  mediafusion_scrapy/spiders/sport_video.py
Due: python-lint, python-format

Filter out adult genre names from catalog responses and metadata. Updated relevant functions to exclude genres such as "adult" from being displayed in public-facing UIs.
  api/routers/content/catalog.py
  api/routers/stremio/meta.py
  db/crud/reference.py
  utils/const.py
Due: python-lint, python-format

fix exception handling
  api/exception_handlers.py
Due: python-lint, python-format

Add Support to view Related Records (FK Navigation) functionality
  api/routers/admin/database_admin.py
  frontend/src/lib/api/admin.ts
  frontend/src/pages/DatabaseManager/components/EditRowDialog.tsx
  frontend/src/pages/DatabaseManager/components/RelatedRecordsPanel.tsx
  frontend/src/pages/DatabaseManager/components/TableBrowserTab.tsx
  frontend/src/pages/DatabaseManager/components/index.ts
  frontend/src/pages/DatabaseManager/hooks/useDatabaseData.ts
  frontend/src/pages/DatabaseManager/types.ts
Due: python-lint, python-format

Update the UI for mobile responsivness
  frontend/src/components/ui/logo.tsx
  frontend/src/pages/Auth/ForgotPasswordPage.tsx
  frontend/src/pages/Auth/LoginPage.tsx
  frontend/src/pages/Auth/RegisterPage.tsx
  frontend/src/pages/Auth/ResetPasswordPage.tsx
  frontend/src/pages/Auth/VerifyEmailPage.tsx
  frontend/src/pages/Home/HomePage.tsx
Due: none

#617: try fixing postgres connection
  deployment/startup.sh
Due: none

Refactor TelegramContentBot to manage state with redis to support multi workers/container
  utils/telegram_bot.py
Due: python-lint, python-format

Add optional Zyclops health check proxy for Newznab indexers
  db/schemas/config.py
  frontend/src/pages/Configure/components/UsenetSettings.tsx
  frontend/src/pages/Configure/components/types.ts
  scrapers/newznab.py
Due: python-lint, python-format

Add Stremio NNTP streaming provider for direct NZB playback
  db/schemas/config.py
  db/schemas/stremio.py
  frontend/src/pages/Configure/components/constants.ts
  streaming_providers/mapper.py
  utils/const.py
  utils/parser.py
Due: python-lint, python-format

Add operator-configured NzbDAV defaults for hosted instances
  api/routers/instance/instance.py
  db/config.py
  db/schemas/config.py
  frontend/src/lib/api/instance.ts
  frontend/src/pages/Configure/components/MultiProviderConfig.tsx
Due: python-lint, python-format

update schedulers
  db/config.py
Due: python-lint, python-format

Fix various pending bugs
  api/routers/admin/scheduler_management.py
  api/routers/user/watch_history.py
  db/crud/base.py
  db/crud/catalog.py
  db/crud/scraper_helpers.py
  db/database.py
  db/schemas/media.py
  mediafusion_scrapy/pipelines/sports_parser_pipeline.py
  mediafusion_scrapy/task.py
  scrapers/feed_scraper.py
  scrapers/telegram.py
  scrapers/trackers.py
  scrapers/tv.py
  utils/torrent.py
Due: python-lint, python-format

remove flaresolverr health on init
  deployment/k8s/init-container.sh
Due: none

fmt
  frontend/src/pages/Configure/components/UsenetSettings.tsx
Due: none

Refactor NZB file upload to use private bucket
  api/routers/content/nzb_import.py
  db/config.py
  utils/nzb_storage.py
Due: python-lint, python-format

Bug fixes
  scrapers/background_scraper.py
  utils/parser.py
Due: python-lint, python-format

Add title search functionality to Telegram bot & set metadata cache in redis
  api/routers/user/telegram.py
  scrapers/scraper_tasks.py
  utils/telegram_bot.py
Due: python-lint, python-format

Add optional Zyclops NZB health API ingestion
  api/routers/content/nzb_import.py
  db/config.py
  scrapers/newznab.py
  utils/zyclops.py
Due: python-lint, python-format

Fix playback & playback tracking and media resolution logic
  api/routers/streaming/playback.py
  db/schemas/media.py
  frontend/src/components/ui/dialog.tsx
  frontend/src/pages/Content/ContentDetailPage.tsx
Due: python-lint, python-format

Enhance NZB file handling with gzip compression and signed download URLs
  api/routers/content/nzb_import.py
  api/routers/streaming/playback.py
  db/config.py
  db/crud/stream_services.py
  scrapers/background_scraper.py
  scrapers/imdb_data.py
  utils/nzb_storage.py
  utils/parser.py
Due: python-lint, python-format

Refactor stream suggestion handling to support multiple languages and streamline media linking
  api/routers/content/stream_suggestions.py
  frontend/src/components/stream/StreamEditSheet.tsx
Due: python-lint, python-format

Fix telegram import with disabled content types
  api/routers/user/telegram.py
Due: python-lint, python-format

Enhance YouTube import functionality and UI components & Update stream editing
  api/routers/content/youtube_import.py
  frontend/src/components/stream/StreamEditSheet.tsx
  frontend/src/lib/api/content-import.ts
  frontend/src/lib/constants/import-options.ts
  frontend/src/pages/ContentImport/ContentImportPage.tsx
  frontend/src/pages/ContentImport/components/CatalogSelector.tsx
  frontend/src/pages/ContentImport/components/MatchSearchSection.tsx
  frontend/src/pages/ContentImport/components/TechSpecsEditor.tsx
  frontend/src/pages/ContentImport/components/TorrentImportDialog.tsx
  frontend/src/pages/ContentImport/components/YouTubeImportDialog.tsx
  frontend/src/pages/ContentImport/components/YouTubeTab.tsx
  frontend/src/pages/ContentImport/components/index.ts
Due: python-lint, python-format

Refactor content type handling in import dialogs
  frontend/src/pages/ContentImport/ContentImportPage.tsx
  frontend/src/pages/ContentImport/components/NZBImportDialog.tsx
  frontend/src/pages/ContentImport/components/TorrentImportDialog.tsx
Due: none

fmt
  utils/zyclops.py
Due: python-lint, python-format

fix MediaFlow & services disabling option not working
  api/routers/user/profiles.py
  frontend/src/pages/Configure/components/ExternalServices.tsx
Due: python-lint, python-format

fix webpage icon
  frontend/index.html
  frontend/public/images/logo.png
Due: frontend-lint, frontend-format, frontend-build

fix handling empty configuration and validation
  api/routers/user/profiles.py
  frontend/src/lib/api/anonymous.ts
  frontend/src/lib/api/profiles.ts
  frontend/src/pages/Configure/ConfigurePage.tsx
  frontend/src/pages/Configure/components/ExternalServices.tsx
  frontend/src/pages/Configure/components/types.ts
Due: python-lint, python-format

fix profile update cache issue
  frontend/src/hooks/useProfiles.ts
Due: none

Add YouTube stream support and refactor stream handling for stremio endpoint
  db/crud/stream_services.py
  db/schemas/__init__.py
  db/schemas/config.py
  db/schemas/media.py
  frontend/src/pages/Configure/components/constants.ts
  utils/parser.py
Due: python-lint, python-format

Enhance contribution type handling and Telegram bot functionality
  api/routers/content/contributions.py
  api/routers/user/telegram.py
  frontend/src/lib/api/contributions.ts
  frontend/src/pages/Contributions/ContributionsPage.tsx
  frontend/src/pages/Moderator/ModeratorDashboardPage.tsx
  frontend/src/types/index.ts
  utils/telegram_bot.py
Due: python-lint, python-format

fix logo path
  frontend/index.html
Due: frontend-lint, frontend-format, frontend-build

Update username field to be required across API and frontend components
  api/routers/instance/instance.py
  api/routers/user/auth.py
  frontend/src/lib/api/instance.ts
  frontend/src/pages/Auth/RegisterPage.tsx
  frontend/src/pages/Setup/SetupWizardPage.tsx
  frontend/src/types/index.ts
  migrations/versions/b0ddd67b439e_backfill_empty_usernames_from_email_.py
Due: python-lint, python-format

Fix various bugs. - Offcloud API failiures and capture premium error message - tv stream failiure - scraper failiure on connecting to prowlarr - Hanlde mediaflow public ip lookup failiure
  api/lifespan.py
  api/routers/content/catalog.py
  api/routers/streaming/playback.py
  db/crud/scraper_helpers.py
  db/crud/stream_services.py
  db/models/streams.py
  db/schemas/media.py
  resources/exceptions/mediaflow_ip_error.mp4
  scrapers/background_scraper.py
  scrapers/base_scraper.py
  scrapers/tv.py
  streaming_providers/debrid_client.py
  streaming_providers/offcloud/client.py
  streaming_providers/offcloud/utils.py
  utils/exception_tracker.py
  utils/exception_video.py
  utils/network.py
  utils/parser.py
  utils/poster.py
Due: python-lint, python-format

fix pikpak not showing in the ui and fix userdata storing
  db/schemas/config.py
  utils/profile_context.py
Due: python-lint, python-format

update frontend & backend libs
  frontend/package-lock.json
  uv.lock
Due: python-lint, python-format, frontend-lint, frontend-format, frontend-build

#620: Fix postgres data volume path
  deployment/docker-compose/docker-compose-minimal.yml
  deployment/docker-compose/docker-compose-postgres-ha.yml
  deployment/docker-compose/docker-compose-postgres-replica-test.yml
  deployment/docker-compose/docker-compose.yml
  deployment/k8s/local-deployment.yaml
  deployment/k8s/postgres-ha-deployment.yaml
  docs/mongodb-to-postgres-migration.md
Due: none

Enhance MaxTasksPerChild middleware and update adult content handler for ptt
  api/middleware.py
  utils/runtime_const.py
Due: python-lint, python-format

Refactor streaming playback logic to enhance MediaFlow handling
  api/routers/streaming/playback.py
  utils/network.py
  utils/parser.py
Due: python-lint, python-format

Enhance media handling and error management in scrapers
  api/routers/admin/scrapers.py
  db/crud/media.py
  db/crud/stream_services.py
  db/crud/streams.py
  db/schemas/media.py
  scrapers/background_scraper.py
  scrapers/base_scraper.py
  scrapers/jackett.py
  scrapers/prowlarr.py
Due: python-lint, python-format
