Repository mhdzumair/MediaFusion: changes, and which GitLab CI jobs are due for each by the changed paths.
All: python-lint, python-format, frontend-lint, frontend-format, frontend-build

.gitlab-ci.yml:

stages:
  - check

# ---------- Python code checks ----------

python-lint:
  stage: check
  image: ghcr.io/astral-sh/uv:0.6-python3.13-bookworm-slim
  script:
    - uv run --only-group dev ruff check .
  rules:
    - changes:
        - "**/*.py"
        - pyproject.toml
        - uv.lock

python-format:
  stage: check
  image: ghcr.io/astral-sh/uv:0.6-python3.13-bookworm-slim
  script:
    - uv run --only-group dev ruff format --check .
  rules:
    - changes:
        - "**/*.py"
        - pyproject.toml
        - uv.lock

# ---------- Frontend checks ----------

.frontend-base:
  image: node:20-alpine
  before_script:
    - cd frontend
    - npm ci
  rules:
    - changes:
        - "frontend/**"

frontend-lint:
  stage: check
  extends: .frontend-base
  script:
    - npx eslint .

frontend-format:
  stage: check
  extends: .frontend-base
  script:
    - npx prettier --check "src/**/*.{ts,tsx,css,json}"

frontend-build:
  stage: check
  extends: .frontend-base
  script:
    - npm run build

Enhance Debrid Import
  api/routers/user/watchlist.py
  frontend/src/lib/api/watchlist.ts
  frontend/src/pages/ContentImport/ContentImportPage.tsx
  frontend/src/pages/ContentImport/components/DebridTab.tsx
  streaming_providers/alldebrid/utils.py
  streaming_providers/debridlink/utils.py
  streaming_providers/offcloud/utils.py
  streaming_providers/pikpak/utils.py
  streaming_providers/premiumize/utils.py
  streaming_providers/realdebrid/client.py
  streaming_providers/realdebrid/utils.py
  streaming_providers/seedr/utils.py
  streaming_providers/torbox/utils.py
Due: python-lint, python-format

Implement global Torznab scraping configuration and enhance endpoint handling
  api/routers/content/scraping.py
  db/config.py
  deployment/docker-compose/.env-sample
  scrapers/scraper_tasks.py
Due: python-lint, python-format

Enhance media suggestion handling in API and frontend
  api/routers/content/suggestions.py
  frontend/src/lib/api/suggestions.ts
  frontend/src/pages/Moderator/ModeratorDashboardPage.tsx
Due: python-lint, python-format

Add Release Notes Page
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/lib/api/index.ts
  frontend/src/lib/api/instance.ts
  frontend/src/pages/ReleaseNotes/ReleaseNotesPage.tsx
  frontend/src/pages/ReleaseNotes/index.ts
Due: frontend-lint, frontend-format, frontend-build

Enhance ScrapeContentButton with select all functionality
  frontend/src/components/metadata/ScrapeContentButton.tsx
Due: none

Improve UI by utilizing ScrollArea component & replace confirm with proper model verification
  frontend/src/components/integrations/ExternalPlatformIntegrations.tsx
  frontend/src/components/layout/Sidebar.tsx
  frontend/src/components/metadata/RefreshMetadataButton.tsx
  frontend/src/components/stream/StreamFilters.tsx
  frontend/src/components/ui/async-multi-select.tsx
  frontend/src/components/ui/multi-select.tsx
  frontend/src/components/ui/scroll-area.tsx
  frontend/src/components/ui/table.tsx
  frontend/src/components/watchlist/AdvancedImportDialog.tsx
  frontend/src/pages/CacheManager/components/viewers/HashViewer.tsx
  frontend/src/pages/CacheManager/components/viewers/ListViewer.tsx
  frontend/src/pages/Configure/components/IndexerSettings.tsx
  frontend/src/pages/Configure/components/UsenetSettings.tsx
  frontend/src/pages/ContentImport/components/CatalogSelector.tsx
  frontend/src/pages/ContentImport/components/M3UTab.tsx
  frontend/src/pages/ContentImport/components/TechSpecsEditor.tsx
  frontend/src/pages/ContentImport/components/XtreamTab.tsx
  frontend/src/pages/DatabaseManager/components/EditRowDialog.tsx
  frontend/src/pages/DatabaseManager/components/RelatedRecordsPanel.tsx
  frontend/src/pages/DatabaseManager/components/TableBrowserTab.tsx
  frontend/src/pages/MetadataCreator/components/SeasonEpisodeBuilder.tsx
  frontend/src/pages/Metrics/MetricsPage.tsx
  frontend/src/pages/RSSManager/components/RSSFeedWizard.tsx
  frontend/src/pages/RSSManager/components/RegexTesterModal.tsx
  frontend/src/pages/Scheduler/SchedulerPage.tsx
Due: none

Fix config removal not persistant and fix resolution type
  api/routers/user/profiles.py
  frontend/src/lib/api/anonymous.ts
  frontend/src/lib/api/profiles.ts
  frontend/src/pages/Configure/ConfigurePage.tsx
  frontend/src/pages/Configure/components/MultiProviderConfig.tsx
  frontend/src/pages/Configure/components/StreamFormatterConfig.tsx
  frontend/src/pages/Configure/components/constants.ts
  frontend/src/pages/Configure/components/types.ts
Due: python-lint, python-format

Update DashboardPage to support clicking continue watching card
  frontend/src/pages/Dashboard/DashboardPage.tsx
Due: none

link release note page with version number
  frontend/src/pages/Home/HomePage.tsx
Due: none

Refactor stream deletion functionality and introduce new moderation endpoints
  api/routers/admin/admin.py
  api/routers/content/__init__.py
  api/routers/content/catalog.py
  api/routers/content/streams.py
  frontend/src/components/stream/StreamCard.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/useAdmin.ts
  frontend/src/hooks/useStreams.ts
  frontend/src/lib/api/admin.ts
  frontend/src/lib/api/catalog.ts
  frontend/src/lib/api/index.ts
  frontend/src/lib/api/streams.ts
  frontend/src/pages/Content/ContentDetailPage.tsx
Due: python-lint, python-format

Add support multiple file uploads and enhance analysis handling
  frontend/src/pages/ContentImport/components/TorrentTab.tsx
  frontend/src/pages/ContentImport/components/index.ts
Due: none

Add support for debrid series import for episode annotation
  frontend/src/components/watchlist/AdvancedImportDialog.tsx
  frontend/src/pages/ContentImport/components/ImportFileAnnotationDialog.tsx
Due: none

Update AIOStreams to MediaFusion syntax conversion functions
  frontend/src/pages/Configure/components/StreamFormatterConfig.tsx
Due: none

Implement worker memory telemetry and related metrics and Disable MaxTask middleware for dramatiq worker
  api/__init__.py
  api/middleware.py
  api/routers/admin/metrics.py
  api/task.py
  db/config.py
  db/redis_database.py
  docs/configuration.md
  frontend/src/hooks/index.ts
  frontend/src/hooks/useMetrics.ts
  frontend/src/lib/api/metrics.ts
  frontend/src/pages/Metrics/MetricsPage.tsx
  mediafusion_scrapy/task.py
  utils/worker_memory_metrics.py
Due: python-lint, python-format

fix ext scrapy pipeline
  mediafusion_scrapy/pipelines/formula_parser_pipeline.py
  mediafusion_scrapy/pipelines/moto_gp_parser_pipeline.py
  mediafusion_scrapy/pipelines/store_pipelines.py
  mediafusion_scrapy/spiders/ext_to.py
Due: python-lint, python-format

Fix UI with dialog and tab list unscrollable issue
  frontend/src/components/ui/dialog.tsx
  frontend/src/components/ui/scroll-area.tsx
  frontend/src/components/ui/table.tsx
  frontend/src/components/watchlist/AdvancedImportDialog.tsx
Due: none

Fix live search functionality in streamio endpoint
  db/crud/scraper_helpers.py
  db/crud/stream_services.py
Due: python-lint, python-format

Added support personal library catalog handling and visibility in the configuration for stremio
  api/routers/stremio/catalog.py
  db/crud/catalog.py
  frontend/src/pages/Configure/components/CatalogConfig.tsx
  frontend/src/pages/Configure/components/constants.ts
  resources/templates/manifest.json.j2
  utils/parser.py
Due: python-lint, python-format

Fix uniqueness of torrent and usenet streams on live fetching with stremio endpoint
  db/crud/scraper_helpers.py
  db/crud/stream_services.py
Due: python-lint, python-format

Fix various bugs
  scrapers/mdblist.py
  streaming_providers/parser.py
  streaming_providers/pikpak/utils.py
  streaming_providers/realdebrid/utils.py
  streaming_providers/seedr/utils.py
  streaming_providers/torbox/utils.py
Due: python-lint, python-format

Fix metadata retrieval with relation loading
  api/routers/stremio/meta.py
  db/crud/scraper_helpers.py
Due: python-lint, python-format

Enhance user account deletion behavior and improve torrent playback handling
  api/routers/streaming/playback.py
  api/routers/stremio/meta.py
  api/routers/user/auth.py
  db/crud/scraper_helpers.py
  db/models/cast_crew.py
  db/models/links.py
  db/models/media.py
  db/models/streams.py
  migrations/versions/d7c1a8f4b2e9_set_user_fk_ondelete_behaviors.py
  scrapers/base_scraper.py
  utils/parser.py
Due: python-lint, python-format

Enhance Easynews scraper and client for improved URL generation and metadata handling
  scrapers/easynews.py
  streaming_providers/easynews/client.py
  streaming_providers/easynews/utils.py
Due: python-lint, python-format

Add force run option for manual scheduler job execution
  api/middleware.py
  api/routers/admin/scheduler_management.py
  frontend/src/hooks/useScheduler.ts
  frontend/src/lib/api/scheduler.ts
  frontend/src/pages/Scheduler/SchedulerPage.tsx
Due: python-lint, python-format

Fix Easynews API login error
  api/routers/content/catalog.py
  api/routers/content/scraping.py
  streaming_providers/easynews/client.py
  utils/parser.py
Due: python-lint, python-format

Add max streaming providers per profile configuration
  api/routers/instance/instance.py
  api/routers/user/profiles.py
  db/config.py
  deployment/docker-compose/.env-sample
  frontend/src/lib/api/instance.ts
  frontend/src/pages/Configure/components/MultiProviderConfig.tsx
Due: python-lint, python-format

Refactor Kodi integration to support API key authentication and enhance stream handling
  api/middleware.py
  api/routers/kodi/setup.py
  api/routers/stremio/stream.py
  db/crud/stream_services.py
  db/schemas.py
  db/schemas/__init__.py
  db/schemas/stremio.py
  frontend/src/pages/Configure/ConfigurePage.tsx
  frontend/src/pages/Integrations/IntegrationsPage.tsx
  kodi/Makefile
  kodi/plugin.video.mediafusion/lib/custom_settings_window.py
  kodi/plugin.video.mediafusion/lib/parser.py
  kodi/plugin.video.mediafusion/lib/router.py
  kodi/plugin.video.mediafusion/lib/utils.py
  kodi/plugin.video.mediafusion/resources/language/resource.language.en_gb/strings.po
  kodi/plugin.video.mediafusion/resources/settings.xml
  kodi/plugin.video.mediafusion/resources/skins/default/1080i/custom_settings_window.xml
  utils/parser.py
Due: python-lint, python-format

Implement pagination for Kodi streams and enhance stream selection UI
  api/routers/stremio/stream.py
  db/crud/stream_services.py
  db/schemas/stremio.py
  kodi/plugin.video.mediafusion/lib/parser.py
  kodi/plugin.video.mediafusion/lib/router.py
  kodi/plugin.video.mediafusion/lib/source_select_window.py
  kodi/plugin.video.mediafusion/resources/skins/default/1080i/source_select_window.xml
  utils/parser.py
  utils/runtime_const.py
Due: python-lint, python-format

Enhance scraper functionality with cache management and URL normalization
  scrapers/base_scraper.py
  scrapers/easynews.py
  scrapers/newznab.py
  scrapers/scraper_tasks.py
  scrapers/torbox_search.py
  scrapers/torznab.py
Due: python-lint, python-format

Implement media migration functionality and deduplication logic
  api/routers/admin/admin.py
  api/routers/admin/scrapers.py
  db/crud/__init__.py
  db/crud/catalog.py
  db/crud/media.py
  db/crud/scraper_helpers.py
  db/crud/stream_services.py
  frontend/src/lib/api/admin.ts
  frontend/src/lib/api/index.ts
  frontend/src/lib/api/scrapers.ts
  frontend/src/pages/Moderator/ModeratorDashboardPage.tsx
  frontend/src/pages/Moderator/components/MediaMigrationPanel.tsx
  frontend/src/pages/Moderator/components/helpers.ts
  frontend/src/pages/Moderator/components/index.ts
  scripts/deduplicate_media.py
Due: python-lint, python-format

Fix Telegram stream playback issue
  api/routers/streaming/playback.py
  db/crud/__init__.py
  db/crud/streams.py
  db/models/streams.py
  migrations/versions/7ab8c9d0e1f2_widen_telegram_user_forward_user_id_to_bigint.py
  utils/telegram_bot.py
Due: python-lint, python-format

chore: update version to 5.2.0
  deployment/docker-compose/docker-compose-minimal.yml
  deployment/docker-compose/docker-compose.yml
  deployment/k8s/local-deployment.yaml
  kodi/plugin.video.mediafusion/addon.xml
  kodi/repository.mediafusion/addon.xml
  pyproject.toml
Due: python-lint, python-format

Implement user sorting functionality in User Management API and frontend
  api/routers/user/user.py
  frontend/src/lib/api/users.ts
  frontend/src/pages/UserManagement/UserManagementPage.tsx
Due: python-lint, python-format

Enhance error handling in Seedr API by mapping exceptions to user-friendly messages
  streaming_providers/seedr/api.py
  streaming_providers/seedr/utils.py
Due: python-lint, python-format

fix imdb data fetching
  scrapers/imdb_data.py
Due: python-lint, python-format

Fix various bugs
  api/routers/stremio/catalog.py
  api/routers/stremio/manifest.py
  api/routers/stremio/meta.py
  api/routers/stremio/poster.py
  api/routers/stremio/search.py
  db/crud/catalog.py
  db/retry_utils.py
  scrapers/dmm_hashlist.py
  streaming_providers/debridlink/client.py
  streaming_providers/debridlink/utils.py
  streaming_providers/exceptions.py
Due: python-lint, python-format

Handle torbox api down error
  streaming_providers/torbox/client.py
Due: python-lint, python-format

update envs
  db/config.py
  docs/env-reference.md
Due: python-lint, python-format
